.card {
	align-self: flex-start;
	flex: 0 1 120px;
	max-width: 120px;
	height: auto;
}

.card > img {
	width: 100%;
	height: auto;
	background-color: rgba(255, 255, 255, 0.5);
}

.card span {
	text-align: center;
	display: block;
	overflow: visible;
	font-size: 0.6rem;
	line-height: normal;
	white-space: wrap;
}

.card > img:hover {
	cursor: pointer;
	background-color: white;
}

@media (max-width: 480px) {
	.cards {
		margin: 24px;
	}

	.card {
		flex: 0 1 60px;
		max-width: 60px;
	}
}