.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.footer a {
	color: blue;
}

.footer img {
	width: 24px;
	height: auto;
}

@media (max-width: 480px) {
	.footer {
		font-size: 12px;
	}

	.footer img {
		width: 16px;
	}
}