.game {
	display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 48px;
  width: 100vw;
}

.game > div:last-child {
  flex-grow: 1;
}

.screen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen > div {
  width: 50%;
}

@media (max-width: 480px) {
  .game {
    gap: 32px;
  }
}