.header {
	text-align: center;
	padding: 16px 0px;
}

.heading {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.left {
	-webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.embellishment img {
	width: 25px;
	height: auto;
}

@media (max-width: 768px) {
  .heading h1 {
		font-size: 28px;
	}
}