.header {
	text-align: center;
}

.heading {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.left {
	-webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@media (max-width: 768px) {
  .heading h1 {
		font-size: 28px;
	}
}

@media (max-width: 480px) {
	.heading h1 {
		font-size: 20px;
	}

	.heading > img {
		width: 60px;
		height: auto;
	}

	.right {
		display: none;
	}
}