.loading-screen {
	display: flex;
	align-items: center;
	justify-content: center;
}

.loading-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 8px;
}

.bar {
	width: 250px;
	border: 1px solid black;
	background-color: white;
}

.progress {
	height: 100%;
	background-color: green;
	color: white;
}

.progress p {
	padding-left: 8px;
}