.game-info {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.scoreboard {
	width: 80%;
	margin: auto;
	padding: 12px;
	background-color: white;
	position: relative;
}

.scoreboard > i {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: black;
  animation: bounce 0.5s ease-in-out 0 infinite alternate;
  float: right;
}

.best-level {
	color: green;
}

.options {
	position: absolute;
	right: 0px;
	bottom: -40px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.options > button {
	background-color: transparent;
	border: none;
}

.options > button > img {
	width: 24px;
	height: 24px;
}

@keyframes bounce {
  from { 
		margin-top: 20px;
	}
  to {
		margin-top: 23px;
	}
}